canvas {
  background-color: black;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

button {
  /*margin-top: -50px;*/
  border: unset;
  cursor: pointer;
  background-color: none;
}

button img {
  background-color: white;
}

@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 405px) {
  canvas {
    height: 100vh;
  }
}
